<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>30847027493-pmhnrqekc9l6b9rp16t1lusjav133s73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30847027493-pmhnrqekc9l6b9rp16t1lusjav133s73</string>
	<key>API_KEY</key>
	<string>AIzaSyDgToSapKKh5KHAjknjOFww-brvJWxzw4A</string>
	<key>GCM_SENDER_ID</key>
	<string>30847027493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dialavet</string>
	<key>PROJECT_ID</key>
	<string>chatdemo-2d5f3</string>
	<key>STORAGE_BUCKET</key>
	<string>chatdemo-2d5f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30847027493:ios:37c3cd11c7c9c9210e32cc</string>
</dict>
</plist>