<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>30847027493-i23u2jvq43ojlkm65qdqkt3mrlodn960.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30847027493-i23u2jvq43ojlkm65qdqkt3mrlodn960</string>
	<key>API_KEY</key>
	<string>AIzaSyDgToSapKKh5KHAjknjOFww-brvJWxzw4A</string>
	<key>GCM_SENDER_ID</key>
	<string>30847027493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatDemoUsingSocket</string>
	<key>PROJECT_ID</key>
	<string>chatdemo-2d5f3</string>
	<key>STORAGE_BUCKET</key>
	<string>chatdemo-2d5f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30847027493:ios:899cc9e6a17b7ae40e32cc</string>
</dict>
</plist>